@model TextAnalysisResponseViewModel
@{

}


<div class="container">
    <h2>Your Text Analysis</h2>
    @if (Model.GeneralText.Feelings != null)
    {
        <div class="row">
            <h4>General Text Analysis</h4>
            <hr />


            <textarea TextMode="MultiLine" Rows="6" style="width: 600px;" readonly asp-for=@Model.Text> </textarea>
            <br />
            <br />

            <table id="generalAnalysisTable" class="table" cellspacing="1" border="1">
                <thead>
                    <tr>
                        <th>
                            Feeling
                        </th>
                        <th>
                            Score
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.GeneralText.Feelings)
                    {
                        <tr>
                            <td>
                                @x.FeelingName
                            </td>
                            <td>
                                @x.Score
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    }
    else
    {
        <label> No Data Available.</label>

    }
    <br />

    @if (Model.SentencesAnalysis != null)
    {
        <div class="row">
            <h4>Sentence Analysis</h4>
            <hr />

            <table id="generalAnalysisTable" class="table" cellspacing="1" border="1">
                <thead>
                    <tr>
                        <th>
                            Sentence
                        </th>
                        <th>
                            Analysis
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.SentencesAnalysis)
                    {
                        <tr>
                            <td>
                                @x.Text
                            </td>
                            <td>

                                <table id="generalAnalysisTable" class="table" cellspacing="1">
                                    <thead>
                                        <tr>
                                            <th>
                                                Feeling
                                            </th>
                                            <th>
                                                Score
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var y in x.Feelings)
                                        {
                                            <tr>
                                                <td>
                                                    @y.FeelingName
                                                </td>
                                                <td>
                                                    @y.Score
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}